# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm project files
.idea/
*.iml

# VS Code settings
.vscode/

# Logs
*.log

# Data directories
data/raw/
data/processed/

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Other files
*.DS_Store
*.db
*.sqlite3